* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.app-container {
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    height: 100vh;
    color: #e0e0e0;
}

.card, .list-group-item, .main-table th, .main-table tr {
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 0.25rem;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    margin-top: 20px;
    border: 1px solid #dee2e6;
}

.card-header {
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #007bff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-body {
    padding: 20px;
}

.card:hover, .list-group-item:hover, .action-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 10px;
    color: #0056b3;
}

.text-muted {
    color: #6c757d;
}

.alert {
    padding: 10px;
    margin-top: 20px;
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .card {
        margin-top: 10px;
    }
}

.btn, .btn-first {
    color: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    margin: 0 5px;
}

.btn-left {
    float: right;
    padding: 10px 16px;
    margin-bottom: 10px !important;
}

.btn:hover, .btn-first:hover {
    /*background-color: #007BFF;*/
    filter: brightness(1.2);
    transform: scale(1.05);
}

.main-table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.main-table th {
    color: #0056b3;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-table td, .main-table th {
    padding: 15px;
    text-align: left;
}

.main-table tr:hover {
    background-color: rgba(63, 63, 63, 0.8);
}

.actions {
    text-align: center;
}

.edit-button {
    background-color: #0056b3;
}

.delete-button {
    background-color: #F44336;
}

.lead {
    font-size: 1.5rem;
    color: #e0e0e0;
    margin-bottom: 30px;
}

.margin-top-10{
    margin-top: 10px;
}
